<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Time to take your medication! </h3>
    <p> Hello,</p>
    <p> It is <%= @medication.time %> and time to take your <%= @medication.name %>.</p>
    <p> Stay healthy! </p>
  </body>
</html>